@import url("https://fonts.googleapis.com/css2?family=Germania+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&display=swap");

a {
  color: inherit; /* или любой нужный цвет */
}

a:visited {
  color: inherit; /* тот же цвет, что и обычная ссылка */
}

* {
  color: #fff;

  font-family: "Germania One", sans-serif;
  font-weight: 400;
  font-style: normal;

  --padding: 20px;
  --gap: 20px;
  --border-radius: 20px;
}

body {
  position: relative;

  background-image: url("../assets/wallpaper/gta5.png");
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: var(--padding);
  margin: 0 auto;
}

.left {
  height: 96vh;
  width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 100px;

  width: 100%;
  max-width: 600px;
}

.right {
  width: 400px;

  display: flex;
  flex-direction: column;

  align-items: flex-end;
  justify-content: space-between;
}